body {
    width: 100%;  
    height: 524px;
    margin: 0;
    font-family: "Inter";
  }

a {text-decoration: none;
    color:black;
}
.header {
    position: relative;
    height: 65px;
    width: 100%;
    background: #FFE9B1;
  }


.main {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 459px;
    color: black;

}
.one { 
    margin-top: 72px;
    font-style: normal;
    font-weight: 900;
}
.two{
    margin-top: 25px;
    font-style: normal;
    font-weight: 400;

}
.img_center{
    margin-top: 0px;
    margin-bottom: 0px;

}
.img {
    margin-top: 20px;
    width: 215px;
    height: 141px;

}
.btn {
    margin-top: 27px;
}
.btn_start{
    padding: 7px 40px ;
    display:inline-block;
    background-color:#C4C4C4;
    font-weight: 400;

}


