header {
    position: relative;
    height: 65px;
    width: 100%;
    background: #FFE9B1;
  }
  
  .title {
    height: 65px;
    margin-left: 5%;
  }

body {
    margin: 0;
    font-family: "Inter";
  }

a {
    text-decoration: none;
    color:black;
}
.header {
    height: 65px;
    width: 100%;
    background: #FFE9B1;
  }


.main {
    text-align: center;
    color: black;

}

.img_center {
    width: 60%;
    max-width: 60%;
    margin: 0 auto;
}
.img {
    width: 100%;
}

.btn_start{
    padding: 16px 48px ;
    border-radius: 4px;
    display:inline-block;
    background-color:#C4C4C4;
    font-weight: 900;
}

.btn_start:hover {
    background-color: #aaaaaa;
}