<html>
    <head>
    <meta charset="utf-8">
    <title>itatamimasu</title>
    <link rel="stylesheet" href="home.css">
    </head>
    <body>
        <header>
            <img src="../imgs/itami.png" class="title">
        </header>

        <div class="main">
            <div class="img_center">
                <img class="img" src="IMG_1446.JPG">
            </div>
            <div class="btn">
                <a href="cropping.html" class="btn_start" style="font-size: 12px;">start</a>
            </div>
        </div>
    </body>
</html>