<html>
    <head>
        <link rel="stylesheet" href="pray.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <title>itatamimasu</title>
        <meta charset="utf-8">
        
    </head>

    <body>
        <div class="header">
        </div>
       
        <div class="main">
            <p style="font-size: 12px" class="contents">すべての食材を弔いましょう<p> 
            <p class="img_center">
                <img class="img" src="demo.gif">
            </p>
            <p class="btn_center">
                <a class="btn download" href="demo.gif"  style="font-size: 12px;">保存</a>
                
                <a href="#"class="btn twitter"style="font-size:12px;"><span class="fa fa-twitter"></span>Twitterで投稿</a>
            </p>                   

        </div> 
    
    </body>
</html>