<html>
    <head>
    <meta charset="utf-8">
    <title>itatamimasu</title>
    <!-- <link rel="stylesheet" href="../static/home.css"> -->
    </head>
    <body>
        <div class="header">
        </div>

        <div class="main">
            <p style="font-size: 12px" class="two">完成までちょっと待ってね</p>
            <!--  --
            <p class="img_center">
                <img class="img" src="{{url_for('static', filename='IMG_1446.JPG')}}">
            </p>
            <p class="btn">
                <a href="/crop" class="btn_start" style="font-size: 12px;">start</a>
                    
            </p>
            !--  -->

        </div> 
    </body>
</html>